/* keyframes */

@keyframes appear{
    from { opacity: 0}
    to { opacity: 1}
}
#hamburger-menu{
    display: none;
}

body {
    background-color:slategrey;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.myIntro {
    display: block;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 30vw;
    float: left;
}

.myIntro h1 {
    font-size: 4vw;
}

#greeting {
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    opacity: 1;
}

#myName {
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    opacity: 1;
}

.myIntro p {
    font-size: 1.6vw;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    opacity: 1;
    line-height: 2vw;
}

.myProjects {
    box-shadow: 0.5rem 0.9rem black, -0.5rem -0.9rem #4d4b4b;
    float: right;
    width: 30vw;
    margin-top: 12vw;
    margin-right: 15vw;
    padding: 2vw;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    opacity: 1;
}

.myNav{
  overflow:hidden;
  width: 100vw;
  height: 12vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
  position: absolute;
  left: 65vw;
}

.myNav a{
  
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 2vw;
}

@media (max-width: 750px){
    
    #hamburger-menu{
        display: block;
        position: relative;
    }
    
    .hamburger-button {
        background-color: #333;
        color: white;
        padding: 15px;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top:-1vw;
        right: -50vw;
        z-index: 1;
     }

     .myNav{
        display: none;
     }

     .myNavMobile {
        display: none;
        background-color: #333;
        color: white;
        position:absolute;
        top:-1vw;
        right: -50vw;
        width: 100vw;
        z-index: 0;
     }
     .myNavMobile a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
     }
     .myNavMobile a:hover {
        background-color: #111;
     }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .myIntro {
        display: block;
        margin-top: 20vw;
        margin-left: 10vw;
        width: fit-content;
        float: none;
    }

    .myIntro h1 {
        font-size: 6vw;
    }

    .myIntro p {
        font-size: 4vw;
    }
    
    
    .myProjects {
        box-shadow: 0.5rem 0.9rem black, -0.5rem -0.9rem #4d4b4b;
        float: none;
        width: fit-content;
        margin-top: none;
        margin-right: none;
        padding: 4vw;
        font-size: 4vw;
       
    }

    
      
}

/* Tablets */

@media (min-width: 751px) and (max-width: 1080px){

    #hamburger-menu{
        display: block;
        position: relative;
    }
    
    .hamburger-button {
        background-color: #333;
        color: white;
        padding: 30px;
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        top:-1vw;
        right: -50vw;
        z-index: 1;
     }

     .myNav{
        display: none;
     }

     .myNavMobile {
        display: none;
        background-color: #333;
        color: white;
        position:absolute;
        top:-1vw;
        right: -50vw;
        width: 100vw;
        z-index: 0;
     }
     .myNavMobile a {
        display: block;
        padding: 30px;
        color: white;
        text-decoration: none;
        font-size: 4vw;
     }
     .myNavMobile a:hover {
        background-color: #111;
     }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .myIntro {
        display: block;
        margin-top: 20vw;
        margin-left: 10vw;
        width: fit-content;
        float: none;
    }

    .myIntro h1 {
        font-size: 6vw;
    }

    .myIntro p {
        font-size: 4vw;
    }
    
    
    .myProjects {
        box-shadow: 0.5rem 0.9rem black, -0.5rem -0.9rem #4d4b4b;
        float: none;
        width: fit-content;
        margin-top: none;
        margin-right: none;
        padding: 4vw;
        font-size: 4vw;
       
    }

    .myNav{
        overflow:hidden;
        width: 100vw;
        height: 12vh;
        padding-top: 3vh;
        padding-bottom: 2vh;
        position: absolute;
        left: 65vw;
        top: 0vw;
      }
}

/* Bigger screen computers */

@media (min-width: 1441px) and (max-width: 2000px){
    .myProjects {
   
    font-size: 2vw;
       
    }
}